configuration {
    modi: "drun,run,window";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 11";
}

@theme "~/.config/rofi/theme.rasi"
