# --- basic aliases ---
alias ls='ls --color=auto'
alias ll='ls -la'
alias la='ls -A'
alias l='ls -CF'

alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'

alias c='clear'
alias cls='clear'
alias h='history 0 | grep'
reload_shell() {
  case "${SHELL##*/}" in
    zsh) source "$HOME/.zshrc" ;;
    *) source "$HOME/.bashrc" ;;
  esac
}
alias reload='reload_shell'
alias path='echo $PATH | tr ":" "\n"'

# --- IP ---
alias myip_public='curl ifconfig.me'
alias myip_private='ip route get 1.1.1.1 | awk "{print \$7; exit}"'

# --- system information ---
alias dfh='df -h'
alias duh='du -sh ./* 2>/dev/null'
alias ports='ss -tulpen'

# --- pacman ---
alias update='sudo pacman -Syu'
alias install='sudo pacman -S'
alias remove='sudo pacman -Rns'

# --- safe operations ---
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias mkdir='mkdir -pv'

# --- directories and editing ---
alias md='mkdir -p'
alias rd='rmdir'
alias e='$EDITOR'

# --- git ---
alias g='git'
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gca='git commit --amend --no-edit'
alias gp='git push'
alias gpfl='git push --force-with-lease'
alias gl='git pull'
alias gd='git diff'
alias gds='git diff --staged'
alias gb='git branch'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gcom='git checkout main'
alias glog='git log --oneline --graph --decorate -20'
